* {
    box-sizing: content-box;
}

body {
    background: url("../images/gravel.png");
    color: #777777;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: #777777;
}

#whiteBar {
    position: relative;
    margin: 0px;
    background: #ffffff;
    overflow: auto;
    width: 100%;
    height: 60px;
}

.index-container {
    max-width: 960px;
    display: block;
    margin: 0px auto;
}

#logo {
    background: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 25pt;
    height: 60px;
    display: block;
    float: left;
    text-align: center;
    padding: 10px;
}

#menu {
    font-size: 14pt;
    padding-top: 20px;
    height: 60px;
    text-align: center;
    display: block;
    float: right;
}


#footer {
    background: #666666;
    display: block;
    margin: auto;
    width: 100%;
}

.container {
    position: relative;
    max-width: 960px;
    background: #ffffff;
    padding: 10px;
    margin-top: 30px; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
